{% extends "layout.html" %}
{% load humanize %}
{% block title %}Employee{% endblock %}
{% block head %}
    <h1>Employee</h1>   
    <div class> 
        <h1>Total {{num}} People</h1>
    </div>
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Genger</th>
                <th>Birth Date</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in emp|dictsort:"hire_date" %}
            <tr {% if forloop.first or forloop.last %} style="color:red;" {% endif %}>
                <!-- employee id -->
                <td>{{emp.id}}</td> 
                <!-- ชื่อ นามสกุล -->
                <td>{{emp.first_name|add:" "|add:emp.last_name}}</td>
                <!-- เพศ -->
                <td>{% if emp.gender == 'M' %} Male
                    {% elif emp.gender == 'F' %} Female
                    {% else %} {{emp.gender}}
                    {% endif %}
                </td>
                <!-- วันเกิด -->
                <td>{{emp.birth_date|date:"d/m/Y"}}</td>
                <!-- วันเริ่มงาน -->
                <td>{{emp.hire_date|date:"d/m/Y"}}</td>
                <!-- เงินเดือน -->
                <td>{{emp.salary|intcomma}}</td>
                <!-- แผนก -->   
                <td>{{emp.position.department.name}}</td>
                <!-- ตำแหน่งงาน -->
                <td>{{emp.position.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

